* {
    --main-bg-color: #96d8ce;
    --accent-nav: #277267;
    --accent-muted: #0D3B34;
    --item-box: #2fb4a0;
    --button-border: #14695c;
    --button-back: #085c4f;
    --button-hover: #04352d;
}
.experienceitem {
    color: black;
}
.experienceitem .text-muted {
    color: var(--accent-muted) !important;
}
.projectitem {
    color: black
}
